<span class="info-container">
	<ul class="container">
		<li class="menu_header">
			<ul>
		    	<li><span class="green" style="text-align:center;"><%=word_for :add_instruction%></span></li>
	            <li class="dropdown howto">
	                <ul>
						<li class="clearfix">
							<h4><%=word_for :choose_location_step%></h4>
							<img src="/images/map-how-to.png" >
							<p><%=word_for :choose_location_instruction%></p>
						</li>
						<li>
							<h4><%=word_for :upload_image_step%></h4>
							<img src="/images/image-how-to.png" >
							<p><%=word_for :upload_image_instruction%></p>
						</li>
						<li>
							<h4><%=word_for :choose_water_level%></h4>
							<img src="/images/water-how-to.png" >
							<p><%=word_for :choose_water_level_instruction%></p>
						</li>
						<li>
							<h4><%=word_for :choose_traffic_level%></h4>
							<img src="/images/traffic-how-to.png" >
							<p><%=word_for :choose_traffic_level_instruction%></p>
						</li>
						<li>
							<h4><%=word_for :submit_step%></h4>
							<img src="/images/button-how-to.png" >
							<p><%=word_for :submit_step_instruction%></p>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</span>