<span id="admin_member_unit_<%=entity.id%>">
	<span class="span-96 margin-top-1 clearfix" >
		<span class="span-2 font12 medium_dark_gray bold_font align_center" style="margin-top:8px;">
    		<input id="chkbox_member_<%=entity.id%>" type="checkbox" value="<%=entity.id%>" />
    	</span>
		<span class="span-93 margin-left-1">
			<span class="span-93 clearfix">
				<span class="span-52 font14 dark_gray bold_font">
					<%=entity.email%> (<%=entity.name%>) | work place: <%=entity.work_place%> 
				</span>
				<br/>
			</span>
		</span>
	</span>
</span>