<div id="form_container">  
   
    <h1><%=word_for :password%></h1>
	<h2> 
		<%=word_for :password_tip%>
	</h2>

	<span class="form_unit">
		<input type="password" class="textbox_input" placeholder="<%=word_for_attr :old_password%>" value="" id="old_password">
		<span id="old_password_error_panel" class="textbox_explane">
			<p class="tip">
				<%=word_for(:old_password_instruction)%>
			</p>
		</span>
	</span>
	<span class="form_unit">
		<input type="password" class="textbox_input" placeholder="<%=word_for_attr :new_password%>" value="" id="new_password">
		<span id="new_password_error_panel" class="textbox_explane">
			<p class="tip">
				<%=word_for(:new_password_instruction)%>
			</p>
		</span>
	</span>
	
	<span class="form_unit">
		<span class="button green" style="float:left;" id="change_password_form_button" onclick="submit_change_password();return false;">
			<%==word_for(:submit_change_password)%>
		</span>
		<span id="change_password_error_panel" class="textbox_explane">

		</span>
	</span>
</div>



<script language="javascript">
	var change_password_validator = new validator("change_password_error_panel");
	change_password_validator.register_validation("old_password","old_password","old_password_error_panel",
										"<%=word_for('old_password_ok');%>",
										[{
											f: validator_helper.presence,
											m: "<%=global_word_for('change_password','old_password_presence')%>"
										}]);
										
	change_password_validator.register_validation("new_password","new_password","new_password_error_panel",
										"<%=word_for('new_password_ok');%>",
										[{
											f: validator_helper.presence,
											m: "<%=global_word_for('change_password','new_password_presence')%>"
										}]);
										
										

	function submit_change_password()
	{
		if (change_password_validator.validate_all() == false) {
			return;
		}
		
		try {
			$('#change_password_form_button').loading_button(true);
			
			$.ajax({
				type: "POST",
				url: '/member/change_password',
				cache: false,
				data: {
					authenticity_token: "<%=form_authenticity_token%>",
					"password": $('#old_password').val(),
					"new_password": $('#new_password').val()
					
					
				},
				success: function(data){
					try {
						if (data.ok == true) {
							alert('Change Password Completed');
							$('#old_password').val('');
							$('#new_password').val('');
							$('#change_password_form_button').loading_button(false);
						}
						else {
							$('#change_password_form_button').loading_button(false);
							change_password_validator.show_error(data.error_message);
						}
					} 
					catch (e) {
						$('#change_password_form_button').loading_button(false);
						$.error_log('change_password', e);
						alert(e);
					}
					
				},
				error: function(req, status, e){
					$('#change_password_form_button').loading_button(false);
					alert('Cannot connect to the server. Please try again later.');
				}
			});
		} catch (e)
		{
			$('#change_password_form_button').loading_button(false);
			$.error_log('change_password',e);
			alert(e);
		}
	}		
</script>	
	



