<div id="form_container">
	<h1><%=word_for :forget_password%></h1>
	<h2> 
		<%=word_for :forget_password_tip%>
	</h2>
	<span class="form_unit">
		<input type="text" class="textbox_input" id="email" placeholder="<%=word_for_attr :email%>">
		<span id="errorPanel" class="textbox_explane" >
			<p class="tip">
				<%=word_for(:forget_password_instruction)%>
			</p>
		</span>
	</span>
	<span class="form_unit">
		<span class="button green" style="float:left;" onclick="forget_password_handler.submit(this);">
			<%==word_for(:submit_forget_password)%>
		</span>
		
	</span>
</div>
<%=javascript_include_tag "/javascripts/featured_member/forget_password_form.js"%>

<script language="javascript">

	var forget_password_validator = new validator("errorPanel");
	forget_password_validator.register_validation("email","email",null,"",
										[{
											f: validator_helper.presence,
											m: "<%=global_word_for('email','email_presence')%>"
										}]);

</script>	
