<div id="form_container">  
	<h1><%=word_for :recover_password%></h1>
	<h2> 
		<%=word_for :recover_password_tip%>
	</h2>
	<span class="form_unit">
		<input type="password" id="recover_password" class="textbox_input" placeholder="<%=word_for_attr :password%>">
		<span id="errorPanel" class="textbox_explane" >
			<p class="tip">
				<%=word_for(:first_password_instruction)%>
			</p>
		</span>
	</span>
	<span class="form_unit">
		<input type="password" id="recover_confirm_password" class="textbox_input" placeholder="<%=word_for_attr :confirm_password%>">
		<span id="passwordErrorPanel" class="textbox_explane" >
			<p class="tip">
				<%=word_for(:confirm_password_instruction)%>
			</p>
		</span>
	</span>
	<span class="form_unit">
		 <span class="button green" id="recover_password_form_button" onclick="recover_password_handler.submit();">
			<%=word_for(:submit_recover_password)%>
		</span>
	</span>
</div>
<input type="hidden" id="email" value="<%=params[:email]%>">
<input type="hidden" id="unique_key" value="<%=params[:unique_key]%>">

<%=javascript_include_tag "/javascripts/featured_member/recover_password_form.js"%>
<script language="javascript">
	
	function match_password() {
		return ($('#recover_password').val() == $('#recover_confirm_password').val())
	}

	var recover_password_validator = new validator("errorPanel");
										
	recover_password_validator.register_validation("password",
												"recover_confirm_password",
												"passwordErrorPanel",
												"",
												[{
													f: validator_helper.presence,
													m: "<%=global_word_for('recover_password','password_presence')%>"
												},
												{
													f: match_password,
													m: "<%=global_word_for('recover_password','password_not_matched')%>"
												}]);

</script>
